In [1]:
from pathlib import Path

import pandas as pd
from pandas.api.types import CategoricalDtype
from tqdm import tqdm


def datadir(*args):
    return Path.cwd().parent.joinpath("data", *args).resolve()


path_heeten_data = datadir("GridFlexHeetenDataset.csv")  # 61.49GB
target_time_range = [
    ["2018-08-01 00:00:00+00:00", "2019-08-01 00:00:00+00:00"],
    ["2019-08-01 00:00:00+00:00", "2020-08-01 00:00:00+00:00"],
]  # The data is from 2018-08-01T01:59:00+02:00 to 2020-08-31T23:58:00+02:00
target_measurement = [
    "UNC_KW",
    "TOTAL_KW",
    "EXPORT_KW",
    "IMPORT_KW",
    "PV_KW",
]

In [2]:
_cat_house = CategoricalDtype(
    categories=[f"House{i}" for i in range(1, 78)], ordered=True
)  # We disregard "HouseTest", so "HouseTest" will resolve to NaN
_cat_appliance = CategoricalDtype(
    categories=["SMARTMETER", "PVMETER", "BATTERY"], ordered=True
)
_cat_measurement = CategoricalDtype(
    categories=[
        "BATTERY_EXPORT_KW",
        "BATTERY_IMPORT_KW",
        "BATTERY_KW",
        "BATTERY_TARGET_KW",
        "BATTERY_TARGET_MODE",
        "CHARGE_MODE",
        "CURRENT_PHASE_1",
        "CURRENT_PHASE_2",
        "CURRENT_PHASE_3",
        "EXPORT_KW",
        "EXPORT_KWH",
        "GAS_USAGE_M3",
        "IMPORT_KW",
        "IMPORT_KWH",
        "MAX_BATTERY_KW",
        "MIN_BATTERY_KW",
        "MOMENTARY_EXPORT_KW",
        "MOMENTARY_IMPORT_KW",
        "MOMENTARY_PV_KW",
        "OPERATIONAL_STATE",
        "PV_KW",
        "PV_KWH",
        "REQ_CHARGE_MODE",
        "STATE_OF_CHARGE",
        "TOTAL_KW",
        "TOTAL_KWH",
        "UNC_KW",
    ],
    ordered=True,
)
dtype = {
    "house": _cat_house,
    "appliance": _cat_appliance,
    "measurement": _cat_measurement,
    "value": "float64",
}
small_df = pd.read_csv(
    path_heeten_data,
    nrows=10,
    index_col=["timestamp"],
    parse_dates=["timestamp"],
    dtype=dtype,
)
print(small_df)
# small_df.groupby("house", observed=True).describe()
# small_df.loc["2018-08-01 00:00:00+00:00":"2018-08-01 12:08:00+00:00"]

                            house appliance measurement  value
timestamp
2018-08-01 01:59:00+02:00  House6   BATTERY  BATTERY_KW -0.037
2018-08-01 02:00:00+02:00  House6   BATTERY  BATTERY_KW -0.037
2018-08-01 02:01:00+02:00  House6   BATTERY  BATTERY_KW -0.033
2018-08-01 02:02:00+02:00  House6   BATTERY  BATTERY_KW -0.041
2018-08-01 02:03:00+02:00  House6   BATTERY  BATTERY_KW -0.034
2018-08-01 02:04:00+02:00  House6   BATTERY  BATTERY_KW -0.033
2018-08-01 02:05:00+02:00  House6   BATTERY  BATTERY_KW -0.025
2018-08-01 02:06:00+02:00  House6   BATTERY  BATTERY_KW -0.028
2018-08-01 02:07:00+02:00  House6   BATTERY  BATTERY_KW -0.028
2018-08-01 02:08:00+02:00  House6   BATTERY  BATTERY_KW -0.028

In [52]:
small_df = pd.read_csv(
    path_heeten_data,
    nrows=10,
    index_col=["timestamp"],
    parse_dates=["timestamp"],
    dtype=dtype,
    names=["timestamp", "house", "appliance", "measurement", "value"],
    skiprows=7827*10000
)

In [57]:
small_df.sort_index().loc[
                target_time_range[0][0] : target_time_range[0][1]
            ]

                          house   appliance measurement  value
timestamp
2018-10-26 21:49:00+02:00   NaN  SMARTMETER   EXPORT_KW    0.0
2018-10-26 21:50:00+02:00   NaN  SMARTMETER   EXPORT_KW    0.0
2018-10-26 21:51:00+02:00   NaN  SMARTMETER   EXPORT_KW    0.0
2018-10-26 21:52:00+02:00   NaN  SMARTMETER   EXPORT_KW    0.0
2018-10-26 21:53:00+02:00   NaN  SMARTMETER   EXPORT_KW    0.0
2018-10-26 21:54:00+02:00   NaN  SMARTMETER   EXPORT_KW    0.0
2018-10-26 21:55:00+02:00   NaN  SMARTMETER   EXPORT_KW    0.0
2018-10-26 21:56:00+02:00   NaN  SMARTMETER   EXPORT_KW    0.0
2018-10-26 21:58:00+02:00   NaN  SMARTMETER   EXPORT_KW    0.0
2018-10-26 21:59:00+02:00   NaN  SMARTMETER   EXPORT_KW    0.0

In [33]:
" <= index <= ".join(map(lambda x: "'" + x + "'", target_time_range[0]))

"'2018-08-01 00:00:00+00:00' <= index <= '2019-08-01 00:00:00+00:00'"

In [45]:
# small_df.query(" <= index <= ".join(map(lambda x: "'" + x + "'", target_time_range[0])))
# small_df.query("'2018-08-01 02:00:00+02:00' <= index <= '2018-08-01 02:00:00+02:00'")
small_df.sample(10).query("'2018-08-01 02:00:00+02:00' <= index <= '2018-08-01 02:05:00+02:00'")

                            house appliance measurement  value
timestamp
2018-08-01 02:00:00+02:00  House6   BATTERY  BATTERY_KW -0.037
2018-08-01 02:01:00+02:00  House6   BATTERY  BATTERY_KW -0.033
2018-08-01 02:02:00+02:00  House6   BATTERY  BATTERY_KW -0.041
2018-08-01 02:03:00+02:00  House6   BATTERY  BATTERY_KW -0.034
2018-08-01 02:04:00+02:00  House6   BATTERY  BATTERY_KW -0.033
2018-08-01 02:05:00+02:00  House6   BATTERY  BATTERY_KW -0.025

In [14]:
df = pd.read_parquet("test")
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10 entries, 2018-08-01 01:59:00+02:00 to 2018-08-01 02:08:00+02:00
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   measurement  10 non-null     category
 1   value        10 non-null     float64
 2   house        10 non-null     category
 3   appliance    10 non-null     category
dtypes: category(3), float64(1)
memory usage: 1.7 KB

In [25]:
# output_path_2018 = datadir("Heeten_2018")
# df = pd.read_parquet(output_path_2018, columns=["house", "appliance", "measurement", "value"])
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 22242026 entries, 2018-08-25 15:17:00+02:00 to 2018-09-30 23:58:00+02:00
Data columns (total 4 columns):
 #   Column       Dtype
---  ------       -----
 0   house        category
 1   appliance    category
 2   measurement  category
 3   value        float64
dtypes: category(3), float64(1)
memory usage: 403.0 MB

In [ ]:
output_path_2018 = datadir("Heeten_2018")
output_path_2019 = datadir("Heeten_2019")

# small_df.to_csv(output_path_2018, mode="a", header=False) if output_path_2018.is_file() else small_df.to_csv(output_path_2018)
with pd.read_csv(
    path_heeten_data,
    chunksize=10_000,
    index_col=["timestamp"],
    parse_dates=["timestamp"],
    dtype=dtype,
) as reader:
    for chunk in tqdm(reader):
        if chunk["measurement"].isin(target_measurement).any():
            # remove rows containing NaN (i.e. "HouseTest") in `house` column
            chunk.dropna(subset=["house"], inplace=True)
            # picks up row containing target_measurement in `measurement` column
            chunk.query("measurement in @target_measurement", inplace=True)

            if chunk.empty:
                continue

            # TODO:
            # - async?
            # Write to 2018
            chunk.sort_index().loc[
                target_time_range[0][0] : target_time_range[0][1]
            ].to_parquet(output_path_2018, partition_cols=["house", "measurement"])
            chunk.sort_index().loc[
                target_time_range[1][0] : target_time_range[1][1]
            ].to_parquet(output_path_2019, partition_cols=["house", "measurement"])
            # if output_path_2018.is_file():
            #     chunk.sort_index().loc[
            #         target_time_range[0][0] : target_time_range[0][1]
            #     ].to_csv(output_path_2018, mode="a", header=False)
            # else:
            #     chunk.sort_index().loc[
            #         target_time_range[0][0] : target_time_range[0][1]
            #     ].to_csv(output_path_2018)

            # Write to 2019
            # if output_path_2019.is_file():
            #     chunk.sort_index().loc[
            #         target_time_range[1][0] : target_time_range[1][1]
            #     ].to_csv(output_path_2019, mode="a", header=False)
            # else:
            #     chunk.sort_index().loc[
            #         target_time_range[1][0] : target_time_range[1][1]
            #     ].to_csv(output_path_2019)